---
layout: page
title: Casamento Lénia & Pedro
start_datetime: 2018-05-05 11:30:00
end_datetime: 2018-05-06 03:30:00
timezone: Europe/London
description: Casamento na Capela de São Miguel
background_image: images/background.jpg
map:
  address: Capela de São Miguel, Coimbra
  zoom: 18
  latitude: 40.207416
  longitude: -8.426452
map2:
  address: Quinta Dona Maria, Soure
  zoom: 16
  latitude: 40.077504
  longitude: -8.609569
_options:
  label_image:
    width: 400
    height: 400
  image:
    width: 600
    height: 1200
---

  <p class="success">Mensagem enviada.</p>

<p class="dates">
	{{ page.start_datetime | date: "%A %-d of %B %Y %-I%P" }} - {{ page.end_datetime | date: "%-I%P" }}
	<span class="addtocalendar atc-style-button-icon atc-style-menu-wb">
		<a class="atcb-link">{% include icons/date.svg %}</a>
		<var class="atc_event">
			<var class="atc_date_start">{{ page.start_datetime | date: "%Y-%m-%d %H:%M:%S" }}</var>
			<var class="atc_date_end">{{ page.end_datetime | date: "%Y-%m-%d %H:%M:%S" }}</var>
			<var class="atc_timezone">{{ page.timezone }}</var>
			<var class="atc_title">{{ page.title }}</var>
			<var class="atc_description">{{ page.description }}</var>
			<var class="atc_location">{{ page.map.address }}</var>
		</var>
	</span>
</p>
<p class="editable">Casamento na Capela de São Miguel em Coimbra, e copo de àgua da Quinta Dona Maria em Source.</p>

<h3 class="editable">Confirmar reserva</h3>

<a class="email-button" href="mailto:{{ site.email }}?subject=Confirmar%20Presen&ccedil;a&amp;body=Lenia%20e%20Pedro,&#014;&#010;Confirmo%20Presen&ccedil;a%20no%20vosso%20casamento.&#014;&#010;Cumprimentos,&#014;&#010;" target="_top">Confirmar via Email</a>


<h3 class="editable">Localização da Cerimónia</h3>
<div class="map" id="gmap_canvas"></div>
<address><a href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{% include icons/place.svg %} {{ page.map.address }}</a></address>


<script type="text/javascript">
	window.mapData = {{ page.map | jsonify }};

	function initMap() {
		var myOptions = {
			styles: [
				{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"color":"#f7f1df"}]},
				{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#d0e3b4"}]},
				{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},
				{"featureType":"poi.medical","elementType":"geometry","stylers":[{"color":"#fbd3da"}]},
				{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#bde6ab"}]},
				{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffe15f"}]},
				{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efd151"}]},
				{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},
				{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"black"}]},
				{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#cfb2db"}]},
				{"featureType":"water","elementType":"geometry","stylers":[{"color":"#a2daf2"}]}
			],
			zoom: window.mapData.zoom,
			center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude)
		};
		var map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
		var marker = new google.maps.Marker({
			map: map,
			position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
			title: '{{ page.map.address }}'
		});

		google.maps.event.addDomListener(window, "resize", function () {
			map.setCenter(myOptions.center);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
