---
start_datetime: 2018-05-05 11:30:00
end_datetime: 2018-05-06 03:30:00
timezone: Europe/London
map:
  address: Capela de São Miguel, Coimbra
  zoom: 18
  latitude: 40.207416
  longitude: -8.426452
map2:
  address: Quinta Dona Maria, Soure
  zoom: 16
  latitude: 40.077504
  longitude: -8.609569
_options:
  label_image:
    width: 400
    height: 400
  image:
    width: 600
    height: 1200
---


<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/wedding.css' rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/wedding/logo.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/wedding/touch-icon.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/wedding/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Mate" rel="stylesheet">

    {% include common/libraries.html %}
</head>

<body>
    <header class="head" id="fixedHeader">
        <nav class="nav" id="navId">

        <ul id="menu">
            <li data-menuanchor="intro"><a href="#intro">{{ page.intro_label }}</a></li>
            <li data-menuanchor="cerimony"><a href="#cerimony">{{ page.cerimony_label }}</a></li>
            <li data-menuanchor="reception"><a href="#reception">{{ page.reception_label }}</a></li>
            <li data-menuanchor="confirmation"><a href="#confirmation">{{ page.confirmation_label }}</a></li>
            <li data-menuanchor="missing_days"><a href="#missing_days">{{ page.missing_days_label }}</a></li>
        </ul>
        </nav>
        <div id="logoBackground"></div>
    </header>



    <div id="section0" class="section" data-name="intro">


        <div class="headings animated fadeInLeft">
            {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.home.section2 %}{{ site.home.section2 }}{% endif %}
            {% if site.home.section3 %}{{ site.home.section3 }}{% endif %}
        </div>
        <div style="height: 50%;"></div>
        <h1>Lénia & Pedro</h1>
        <h2>{{ site.data.i18n[page.lang].date }}</h2>
        <a class="btn-continue btn-continue-light animated bounce" title="{{ site.data.i18n[page.lang].more }}" href="#cerimony"></a>
    </div>

    <div id="section1" class="section" data-name="cerimony">
        <div class="wrapper" id="wrapper_section1">
            <div class="map" id="gmap_canvas"></div>
            <h2>{{ site.data.i18n[page.lang].cerimony }}</h2>
            <p>
                11h30<br>
                {{ site.data.i18n[page.lang].chapel }}<br>
                latitude: {{ layout.map.latitude }}<br>
                longitude: {{ layout.map.longitude }}
            </p>

        </div>
        <a class="btn-continue animated bounce" title="{{ site.data.i18n[page.lang].more }}" href="#reception"></a>
    </div>

    <div id="section2" class="section" data-name="reception">
        <div class="wrapper" id="wrapper_section2">
            <div class="map" id="gmap2_canvas"></div>
            <h2>{{ site.data.i18n[page.lang].reception }}</h2>
            <p>
                {{ site.data.i18n[page.lang].reception_location }}<br>
                latitude: {{ layout.map2.latitude }}<br>
                longitude: {{ layout.map2.longitude }}
            </p>
        </div>
        <a class="btn-continue btn-continue-light animated bounce" title="{{ site.data.i18n[page.lang].more }}" href="#confirmation"></a>
    </div>

    <div id="section3" class="section" data-name="confirmation">
        <h2>{{ site.data.i18n[page.lang].rsvp }}</h2>
        <p>
            <a class="email-button" href="mailto:{{ site.email }}?subject={{ site.data.i18n[page.lang].email_subject }}&amp;body={{ site.data.i18n[page.lang].email_body }}" target="_top">{{ site.data.i18n[page.lang].rsvp_via_email }}</a>
        </p>
        <p>
            <!--a href="#" target="_top">Guardar no Calendário</a-->
        </p>
        <a class="btn-continue animated bounce" title="{{ site.data.i18n[page.lang].more }}" href="#missing_days"></a>
    </div>
    <div id="section4" class="section" data-name="missing_days">
        {%   assign today = site.time | date: '%s'      %}
        {%   assign start = layout.start_datetime | date: '%s'  %}
        {%   assign secondsMissing = start | minus: today     %}
        {%   assign hoursMissing = secondsMissing | divided_by: 60 | divided_by: 60     %}
        {%   assign daysMissing = hoursMissing | divided_by: 24  %}
        {% if daysMissing >= 1 %}
            <h2>{{ site.data.i18n[page.lang].missing_days | replace: '#days', daysMissing }}<h2>
        {% elsif daysMissing == 0 %}
            <h2>{{ site.data.i18n[page.lang].its_today }}<h2>
        {% else %}
            {%   assign daysSince = daysMissing | times: -1  %}
            <h2>{{ site.data.i18n[page.lang].days_since | replace: '#days', daysSince }}<h2>
        {% endif %}
        <img class="missing_days" src="{{ site.baseurl }}/assets/images/wedding/footer.gif" alt="missing_days">
    </div>

    {% include wedding/scripts.html %}
</body>

</html>
